#concept{
    overflow: hidden;
    background: linear-gradient(0deg, #A1938689 0%, #A1938689 60%, #A193861F 60%,  #A193861F 100%);
    .concept-inner{
        margin: 0 auto;
        width: 1075px;
        padding-top: 250px;
        @include tab{
            padding-top: 6rem;
            
            width: 90%;
        }
        .caption{
            margin-bottom: 1rem;
            @include caption;
            @include tab{
                font-size: 1.8rem;
                padding-bottom: 5rem;
            }

            &::after{
                @include caption-border;
                @include tab{
                    width:5rem;
                }
            }
        }
        .concept-images{
            @include tab{
                .image-a{
                    width: 164px;
                    height: 205px;
                }
                .image-b{
                    width: 164px;
                    height: 205px;
                }
                img{
                    object-fit: cover;
                    object-position: right;
                }
            }
        }
        .concept-texts{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            @include tab{
                display: block;
            }
            .concept-a{
                padding: 10rem 5rem;
                font-size: 42px;
                letter-spacing: 7.2px;
                @include tab{
                    font-size: 1.8rem;
                    padding: 6rem 2rem;
                    text-align: center;
                }
            }
            .concept-b{
                width: 422px;
                overflow-wrap:break-word;
                font-size: 16px;
                letter-spacing: 1.6px;
                @include tab{
                    font-size: 1.4rem;
                    width: 100%;
                    margin-bottom: 6.3rem;
                }
            }
        }
    }
}

