#menu {
    overflow: hidden;
    background-color: white;
    .menu-inner{
        width: $inner-width;
        margin: 0 auto;
        padding-top: 250px;
        @include tab{
            padding-top: 6rem;
            width: 90%;
        }
        .caption{
            margin-bottom: 1rem;
            @include caption;
            @include tab{
                font-size: 1.8rem;
                padding-bottom: 5rem;
            }

            &::after{
                @include caption-border;
                @include tab{
                    width:5rem;
                }
            }
        }
        
        .menus{
            margin-top: 1rem;
            margin-bottom: 4rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include tab{
                justify-content: center;
            }
            .menubox{
                text-align: center;
                
                &-a{
                    font-size: 30px;
                    padding: 3rem 0;
                    @include tab{
                        text-align: left;
                    }
                }
                &-b{
                    width: 253px;
                    font-size: 1.3rem;
                    overflow-wrap:break-word;
                    letter-spacing: 1.6px;
                    text-align: left;
                    // margin-bottom: 3rem;
                    margin: 0 auto 3rem;
                }
                &-c{
                    width: 270px;
                    text-align: right;
                    font-size: 1.3rem;
                    @include tab{
                        margin-bottom: 6rem;
                    }
                }
            }
        }

    }
}